<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pendientes
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="addTodo()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-input placeholder="Título" [(ngModel)]="newTodo.title"></ion-input>
    <ion-input placeholder="Detalle" [(ngModel)]="newTodo.desc"></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let todo of todos">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!todo.completed" (click)="completeTodo(todo)">
        <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
        <p class="todoTitle">{{todo.title}}</p>
        <p class="todoDesc">{{todo.desc}}</p>
        </ion-toolbar>
    </ion-item>
  </ion-list>
</ion-content>
