<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      23Pendientes
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="addTodo()" [disabled]="newTodo.title.length == 0">
        <ion-icon slot="icon-only" name="add-circle" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-input placeholder="Título (Requerido)" [(ngModel)]="newTodo.title"></ion-input>
    <ion-input placeholder="Detalle (Opcional)" [(ngModel)]="newTodo.desc"></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let todo of getPendingTodos()">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="completeTodo(todo)">
            <ion-icon slot="icon-only" name="checkmark-circle" color="success"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteTodo(todo)">
            <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
        <p class="todoTitle">{{todo.title}}</p>
        <p class="todoDesc">{{todo.desc}}</p>
      </ion-toolbar>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let todo of getCompletedTodos()">
      <ion-toolbar class="completedTodos">
        <ion-buttons slot="end">
          <ion-button (click)="deleteTodo(todo)">
            <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
        <p class="todoTitle">{{todo.title}}</p>
        <p class="todoDesc">{{todo.desc}}</p>
      </ion-toolbar>
    </ion-item>
  </ion-list>
</ion-content>
